*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header nav a{
  text-decoration: none;
  color: black;
}

body{
  background-image: url(grfx/bodybg.png);
}

header{
  margin: 0 auto;
  width: 60%;
  background-image: url(grfx/headerbg.png);
  height: 150px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
}

header h1{
  margin-left: 12px;
}

header nav{
  margin-top: 75px;
  margin-left: 12px;
}

header nav a{
  padding: 6px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 12px;
}

main{
  margin: 0 auto;
  width: 60%;
  background-color: lightgrey;
  border: 1px solid #b3b3b3;
}

#flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
}

#davinci-logo{
  float: right;
  padding: 6px;
}

#javascript-logo{
  float: right;
  padding: 6px;
  width: 150px;
  height: 100px;
  margin-right: 20px;
}

#samenvatting{
  border: 2px solid #b3b3b3;
  width: 50%;
  margin: 12px;
  background-color: #f2f2f2;
  padding-right: 3px;
}

#opleiding-main{
  background-color: #f2f2f2;
  border: 1px solid #b3b3b3;
  margin: 12px;
}

article img{
  width: 300px;
  height: 300px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.image-border{
  border: 2px solid #b3b3b3;
}

.container{
  display: flex;
  flex-direction: column;
}

main h2{
  padding-left: 12px;
  padding-top: 6px;
}

main h3{
  padding-left: 12px;
  padding-top: 6px;
}

main p{
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 4px;
}

footer{
  margin: 0 auto;
  width: 60%;
  background-color: lightgrey;
  text-align: center;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}

aside{
  margin-left: 35px;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: #f2f2f2;
  border: 2px solid #b3b3b3;
}
